/* .s1{
    padding: 50px;
} */
tr {
  border-bottom: 0px;
}

.search {
  border-radius: 16px;
}

.txtBox {
  border-radius: 20px;
  border-color: #f7f7f7;
  background-color: #f7f7f7;
  width: 210px;
  height: 25px;
}

.contact {
  width: 120px;
  height: 33px;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  background: linear-gradient(to right, #F55E2D, #FB7ED3);
  border-radius: 10px;
}

.add-contact .cont-txt {
  font-size: 18px;
  font-weight: bold;
  margin-left: 3px;
  color: white;
}

.cont-head {
  width: 78px;
  height: auto;
  float: right;
}

.cont-head h6 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
  color: white;
}

.s2 {
  display: flex;
}

.s3 {
  display: flex;
}

.conPNG {
  padding-top: 35px;
}

.ContactsBB {
  padding-left: 9px;
}

.SortBy {
  padding-top: 30px;
  padding-left: 40px;
}

.searchBTN {
  padding-top: 10px;
  padding-left: 58px;
}

.addConBtn {
  padding-top: 9px;
  padding-left: 45px;
}

::-webkit-input-placeholder {
  font-size: smaller;
  padding-left: 10px;
}