.headermain{
    padding-left: 50px;
}
.design1main{
    width: 3%;
    margin-top: -35px;
}
.csstaskmain{
    /* height: 40%; */
    margin-left: 120px;
    margin-top: -600px;
    width: 40%;
}
.designmain{
    margin-left: 120px;
    margin-top: 10px;
}
.fdmain{
    margin-top: -490px;
    margin-left: 220px;
}